fifsky.com {
    tls fifsky@gmail.com

    proxy /api blog:8081 {
       without api
    }

    proxy /feed.xml blog:8081 {
        without feed.xml
    }

    proxy / blog-web:2015 {
       without api
       without feed.xml
    }
}

www.fifsky.com {
    tls fifsky@gmail.com

    redir https://fifsky.com{uri}
}

mock.fifsky.com {
    tls fifsky@gmail.com

    proxy / 172.17.0.1:40001
}

api.fifsky.com {
    tls fifsky@gmail.com

    proxy / gostruct:8989
}