fifsky.com {
    tls fifsky@gmail.com

    proxy /api blog {
       without api
    }

    proxy /feed.xml blog {
        without feed.xml
    }

    proxy / blog-web {
       without api
       without feed.xml
    }
}

www.fifsky.com {
    tls fifsky@gmail.com

    redir https://fifsky.com{uri}
}

mock.fifsky.com {
    tls fifsky@gmail.com

    proxy / 172.17.0.1:40001
}

api.fifsky.com {
    tls fifsky@gmail.com

    proxy / api
}